/* Resetting default margin and padding */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%; /* Ensure full height coverage */
}

/* Section bawah */
.bawah-sec {
    position: relative;
    min-height: 320px; /* or use auto */
    width: 100%; /* Make the section take full width */
    background-image: url('./src/assets/image/footer.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Ensure image covers the entire area */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove padding */
}

/* Text section */
.bawah-judul {
    text-align: center;
    justify-content: center;
}

/* Heading styling */
.pet {
    color: #ffffff;
    font-size: 39px;
    margin-bottom: 10px;
    font-family: 'ADELIA', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Subtitle styling */
.font-bawah {
    color: #F1F1F1;
    font-size: 16px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    letter-spacing: 0.15px;
    line-height: 25.6px;
}

/* Button styling */
.tombol {
    background-color: #1DA19E;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    padding: 4px 16px 4px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    line-height: 24px;
    letter-spacing: 0.15px;
    transition: background-color 0.3s, transform 0.1s;
}

.tombol:hover {
    background-color: #178F8C;
}

.tombol:active {
    transform: scale(0.98);
    background-color: #088395;
}

@media (max-width: 768px) {
    .bawah-sec {
        height: auto;
        padding: 20px;
    }
    .pet {
        font-size: 30px;
    }
    .font-bawah {
        font-size: 16px;
    }
    .tombol {
        font-size: 14px;
        padding: 10px 20px;
    }
}
